* {
  touch-action: pan-y;
}

html,
body {
  min-height: 100%;
  max-width: 720px;
  margin: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#buttonsContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.qp-button {
  flex: 1 1 0;
  min-height: 64px;
}

.qp-question-text{
    backdrop-filter: blur(64px);
    backdrop-filter: blu
    -webkit-backdrop-filter: blur(16px);
}